/* ===== MAIN LAYOUT ===== */
#main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 8px;
    min-height: 0;
}

/* ===== IMAGES ===== */
#sleep-icon {
    width: 120px;
    height: auto;
    margin: auto;
    opacity: 0.3;
}