body{
    padding-inline: 2%;
    display: flex;
    flex-direction: column;
}
.postContainer{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgb(110, 128, 128);
    color: black;
    width: 30%;
    padding-inline: 10%;
}

.postInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.creatPostDiv{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 80vh;
    margin: 10vh 15vw;
    border: 1px solid black;
    border-radius: 14px;
    background-color: grey;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main{
    padding-inline: 10%;
    padding-block: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}